/* feuille de style pour le site
Auteur : Gabriel, Camille, Konogan, Mathis.
*/

body {
  font-family: "Lucida Grande",Tahoma,Helvetica,sans-serif;
  color: #222222;
  background : #FAF1FE;
  margin : 0 5%;
}

/*header */

header {
    display:flex;
    justify-content: space-between;
    align-items: center;
  text-align: center;

}
#content{
  display:flex !important;
  margin-top: 5%;
}
.gauche{
  order:1;
width:70%;
margin-right: 20 px;
}
.droite{
  order:2;
  width:30%;
  border-left-style: solid;
}
.entry{
  width:95%;
}
.centre{
width:70%;
margin:auto;
}
.full{
 width:100%;
}
.full_sidebar{
  width:100%;
}
.center_shadow{
  width:70%;
  margin:auto;

}
#template1_box{
  width:100%;
}
.logo_accueil{
  display:block;
  width:70%;
  margin:auto;
}
.full_sidebar ul{
  display:flex;
}
header nav {
  display:block;
}

#menuprincipal ul {margin: 0; padding: 0;
	list-style-type: none; list-style-image: none; }
#menuprincipal li {display: inline; }
#menuprincipal ul li a {text-decoration:none;  margin: 4px;
	padding: 5px 20px 5px 20px; color: 222222;
	color : #222222;}
#menuprincipal ul li a:hover {color: 6B11C1;
	background: #6B11C1;
  color : #FFFFFF;
    border-radius: 20px; }


a
{
text-decoration: none;
color : #6B11C1;
}

footer {
  display: block;
  text-align: center;
  margin:5% 0;

}
