/* feuille de style pour le site
Auteur : Mathieu Mangeot
*/

body {
  font-family: "Lucida Grande",Tahoma,Helvetica,sans-serif;
  color: black;
  background : pink;
  margin : 5%;
}

/*header */

header {
  display: block;
  text-align: center;

}
#content{
  display:flex !important;
  margin-top: 5%;
}
.gauche{
  order:1;
width:70%;
margin-right: 20 px;
}
.droite{
  order:2;
  width:30%;
  border-left-style: solid;
}
.entry{
  width:95%;
}

header nav {
  display:block;
}

#menuprincipal ul {margin: 0; padding: 0;
	list-style-type: none; list-style-image: none; }
#menuprincipal li {display: inline; }
#menuprincipal ul li a {text-decoration:none;  margin: 4px;
	padding: 5px 20px 5px 20px; color: blue;
	color : black;}
#menuprincipal ul li a:hover {color: purple;
	background: #2DFFDB;
    border-radius: 20px; }


a
{
text-decoration: none;
color : black;
}






footer {
  display: block;
  text-align: center;
  margin-top:5%;

}
