/* feuille de style pour le site
Auteur : Mathieu Mangeot
*/

body {
  font-family: "Lucida Grande",Tahoma,Helvetica,sans-serif;
  color: black;
  background : pink;
padding : 50px;
}

/*header */

header {
  display: block;
  text-align: center;

}

.gauche
{
width:70%;
margin-right: 20 px;}

header nav {
  display:block;
}

#menuprincipal ul {margin: 0; padding: 0;
	list-style-type: none; list-style-image: none; }
#menuprincipal li {display: inline; }
#menuprincipal ul li a {text-decoration:none;  margin: 4px;
	padding: 5px 20px 5px 20px; color: blue;
	color : black;}
#menuprincipal ul li a:hover {color: purple;
	background: #2DFFDB;
    border-radius: 20px; }

#legendemenuprincipal  {
  float:left;
}

.droite{
  border-left-style: solid;
}

fieldset {
  margin: 10px;
}
/*fieldset, legend {
    border-radius: 12px;
    }

legend {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
    font-weight: normal;
    font-style: italic;
    font-size: 1em;
    text-shadow: #fff 1px 1px 1px;
  }*/


a
{text-decoration: none;
color : black;}



#content > aside {
  float: right;
}



footer {
  display: block;
  text-align: center;

}
